<!doctype html>
<html xmlns:th="http://thymeleaf.org" lang="fr" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css"
          integrity="sha384-RxqHG2ilm4r6aFRpGmBbGTjsqwfqHOKy1ArsMhHusnRO47jcGqpIQqlQK/kmGy9R"
          crossorigin="anonymous"
    >
    <title th:text="${film.titre} + ' ' + ' | détail du film'"></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ajout/film}">Ajout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        <h1 class="text-center">Détail du film :</h1>
        <div class="card text-white bg-primary mb-3">
            <div class="card-header" th:text="${film.titre}"></div>
            <div class="card-body">
                <h4 class="card-title" th:text="${film.duree} + ' min, réalisé en ' + ${film.annee}"></h4>
                <p class="card-text" th:text="${film.synopsis}"></p>
                Genre :<br>
                <p class="card-text" th:text="${film.categorie.nom}"></p>

                <h4>Réalisateurs</h4>
                <ul>
                    <th:block th:each="real : ${film.realisateurs}">
                        <li th:text="${real.nom} + ' ' + ${real.prenom}"></li>
                    </th:block>
                </ul>

                <h4>Acteurs</h4>
                <ul>
                    <th:block th:each="acteur : ${film.acteurs}">
                        <li th:text="${acteur.nom} + ' ' + ${acteur.prenom}"></li>
                    </th:block>
                </ul>
            </div>
        </div><br><br>

        <h1 class="text-center">Les Avis</h1>

        <a th:href="@{/ajout/{id}(id=${film.id})}">
            <button class="btn btn-active"></button>
        </a>

        <th:block th:each="unAvis : ${film.listeAvis}">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header" th:text="${unAvis.membre.nom} + ' ' + ${unAvis.membre.prenom}"></div>
                <div class="card-body">
                    <p class="card-text" th:text="${unAvis.commentaire}"></p>
                    <p class="card-text" th:text="${unAvis.note} + '/5'"></p>
                </div>
            </div>
        </th:block>


    </div>
</body>
</html>